@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400;500&family=Open+Sans:wght@300&family=Oswald&family=Satisfy&display=swap');

*{
  margin: 0;
  padding: 0;
  
}

#main_content_border{
    border: 10px;
    border-style: solid;
    border-color: white;
    border-style: solid;
    
  }
  
  #main_content{
    border: 10px;
    border-style: solid;
    border-color:#CAE8FF;
    border-style: solid;
    background-color: #5CB6F9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }



#central_header{
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

#central_header img{
    height: 200px;
    
}

.center {
    margin: 50px auto;
    max-width: 900px;
    font-family: Arial, sans-serif;
}
  
.center_box {
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 5%;
    background-color: #CAE8FF;
    box-shadow: 2px 2px 2px #002439;
}
  

h1{
    margin-top: 0;
    font-size: 33px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #002439;
    text-shadow: 2px 2px 2px #6dc0ff;
}

li{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: black;
    margin-top: 15px;
    text-align:left;
    margin-left: 5%;
    width: 80%;
    text-shadow: 1px 1px 1px #5CB6F9;;
}


.start_module_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.start_module_container button{
    width: 300px;
    height: 80px;
    background-color: #002439;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border: solid;
    border-color: #002439;
    border-radius: 5px;
    transition: 0.2s;
}

.start_module_container button:hover{
    background-color: #002439;
    box-shadow: 2px 2px 2px #002439;
    cursor: pointer;
}

.start_module_container button span{
    font-size: 90%;
} 
  