@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400;500&family=Open+Sans:wght@300&family=Oswald&family=Satisfy&display=swap');

*{
  margin: 0;
  padding: 0;
  
}

#main_content_border{
  border: 10px;
  border-style: solid;
  border-color: white;
  border-style: solid;
  
}

#main_content{
  border: 10px;
  border-style: solid;
  border-color:#CAE8FF;
  border-style: solid;
  background-color: #5CB6F9;
  display: flex;
  flex-direction: column;
}

#central_header{
    height: 200px;
    display: flex;
    justify-content: center;
}

#central_header img{
    height: 200px;
    
}

.form {
  margin: 50px auto;
  max-width: 600px;
  font-family: Arial, sans-serif;
}

.question {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 5%;
  background-color: #CAE8FF;
  box-shadow: 2px 2px 2px #002439;
}


h2 {
  margin-top: 0;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #002439;
  text-shadow: 2px 2px 2px #6dc0ff;
}

input[type="text"], input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type="radio"] {
  transform: scale(2.0);
  margin: 20px;
  border: solid;
}



.answer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 40px;
}

.answer label{
  font-size: 22px;
  color: #002439;
}