<!DOCTYPE html>
<html>
  <head>
    <title>Meu Questionário</title>
    <link rel="stylesheet" href="../../pagesStyles/questionsStyle.css">
  </head>
  <body>

    
    <main id="main_content_border">

        <section id="main_content">
            <section id="central_header">
                <img src="../../img/questionario.png">
            </section>
            <div class="form">
                <div class="question">
                    <h2>Qual o seu nome?</h2>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
                </div>
                <div class="question">
                    <h2>Qual o seu e-mail?</h2>
                    <input type="text" name="email" id="email" placeholder="Digite seu e-mail">
                </div>

                <!-- Questão 1 -->

                <div class="question">
                    <h2>A respiração adequada deve ser realizada por qual(is) cavidade(s)?</h2>
                    <div class="answer">
                        <input type="radio" name="question1" id="q1_option1" value="q1_option1">
                        <label for="q1_option1">Nariz</label>
                    </div>
                    <div class="answer">
                        <input type="radio" name="question1" id="q1_option2" value="correta">
                        <label for="q1_option2">Boca</label>
                    </div>
                    <div class="answer">
                        <input type="radio" name="question1" id="q1_option3" value="q1_option3">
                        <label for="q1_option3">Nariz e Boca</label>
                    </div>
                    <div class="answer">
                        <input type="radio" name="question1" id="q1_option4" value="q1_option4">
                        <label for="q1_option4">Nenhuma das alternativas</label>
                    </div>
                    <button onclick="verificarRespostas()">Enviar</button>
                </div>

                <script>
                    function verificarRespostas() {
                        var pontuacao = 0;
                        var respostas = document.getElementsByName("question1");
                        
                        // Verificar a resposta da primeira pergunta
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "correta") {
                                pontuacao += 4;
                                break;
                            }
                        }
                        
                        // Adicionar outras perguntas aqui para verificar
                        
                        // Exibir a pontuação
                        alert("Sua pontuação é: " + pontuacao);
                    }
                    </script>
                
            </div>
            
        </section>
    </main>
        
</body>
</html>
