<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="../../img/fonoaudiologia_logo.png" type="image/x-icon">
    <title>Curso Respiração Oral</title>
    <link rel="stylesheet" href="../../pagesStyles/questionsStyle.css">
  </head>
  <body>

    
    <main id="main_content_border">

        <section id="main_content">
            <section id="central_header">
                <img src="../../img/questionario.png">
            </section>
            <form action="https://api.sheetmonkey.io/form/kH9XPf3enLaviBpLwSCtbg" method="post">
                <div class="question">
                    <h2>Qual o seu nome?</h2>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome"required>
                </div>
                <div class="question">
                    <h2>Qual o seu e-mail?</h2>
                    <input type="text" name="email" id="email" placeholder="Digite seu e-mail"required>
                </div>

                <!-- Questão 1 -->

                <div class="question">
                    <h2>A respiração adequada deve ser realizada por qual(is) cavidade(s)?</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question1" id="q1_option1" value="I" required>
                                <label for="q1_option1">Nariz</label>
                            </li>
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question1" id="q1_option2" value="II">
                                <label for="q1_option2">Boca</label>
                            </li>
                        </div>
                    
                        <div class="answer">
                            <li>
                                <input type="radio" name="question1" id="q1_option3" value="III">
                                <label for="q1_option3">Nariz e Boca</label>
                            </li>
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question1" id="q1_option4" value="IV">
                                <label for="q1_option4">Nenhuma das alternativas</label>
                            </li>
                        </div>
                    </ol>
                </div>

                <!-- Questão 2 -->

                <div class="question">
                    <h2>O nariz possui estruturas adequadas para:</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question2" id="q2_option1" value="I"required>
                                <label for="q2_option1">Aquecer, filtrar e sujar o ar que respiramos</label>
                            </li>
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question2" id="q2_option2" value="II">
                                <label for="q2_option2">Purificar, secar e umidificar o ar que respiramos</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question2" id="q2_option3" value="III">
                                <label for="q2_option3">Aquecer, filtrar e umidificar o ar que respiramos</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question2" id="q2_option4" value="IV">
                                <label for="q2_option4">Molha, umidificar e filtrar o ar que respiramos</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                </div>

                <!-- Questão 3 -->

                <div class="question">
                    <h2>A prevalência da Respiração Oral se dá em:</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question3" id="q3_option1" value="I"required>
                                <label for="q3_option1">Adolecentes do ensino médio</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question3" id="q3_option2" value="II">
                                <label for="q3_option2">Adultos</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question3" id="q3_option3" value="III">
                                <label for="q3_option3">Crianças em idade escolar</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question3" id="q3_option4" value="IV">
                                <label for="q3_option4">Idosos</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                </div>

                <!-- Questão 4 -->

                <div class="question">
                    <h2>As causas mais frequentes da Respiração Oral são:</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question4" id="q4_option1" value="I"required>
                                <label for="q4_option1">Obstruções</label>
                            </li>

                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question4" id="q4_option2" value="II">
                                <label for="q4_option2">Gripes</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question4" id="q4_option3" value="III">
                                <label for="q4_option3">Palato atrésico</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question4" id="q4_option4" value="IV">
                                <label for="q4_option4">Amigdalite</label>
                            </li>
                            
                        </div>
                    </ol>
                </div>

                <!-- Questão 5 -->

                <div class="question">
                    <h2>São fatores que favorecem a respiração oral, EXCETO:</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question5" id="q5_option1" value="I"required>
                                <label for="q5_option1">Flacidez dos músculos da face</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question5" id="q5_option2" value="II">
                                <label for="q5_option2">Hábitos deletérios</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question5" id="q5_option3" value="III">
                                <label for="q5_option3">Rinite</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question5" id="q5_option4" value="IV">
                                <label for="q5_option4">Tonicidade adequada da musculatura orofacial</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                </div>

                <!-- Questão 6 -->
                
                <div class="question">
                    <h2>Julgue a afirmação:<br>
                        Respiradores orais tendem a ser mais agitados e impacientes e podem apresentar défict no processo de aprendizagem.</h2>
                    
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question6" id="q6_option1" value="I"required>
                                <label for="q6_option1">Verdadeiro</label>
                            </li>
                           
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question6" id="q6_option2" value="II">
                                <label for="q6_option2">Falso</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                </div>

                <!-- Questão 7 -->
                
                <div class="question">
                    <h2>Julgue a afirmação:<br> 
                        A tensão diminuída de lábios dificulta o fechamento labial.</h2>

                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question7" id="q7_option1" value="I"required>
                                <label for="q7_option1">Verdadeiro</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question7" id="q7_option2" value="II">
                                <label for="q7_option2">Falso</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                </div>

                <!-- Questão 8 -->
                
                <div class="question">
                    <h2>Julgue a afirmação:<br> 
                        A respiração oral não ocasiona em alterações na mastigação.</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question8" id="q8_option1" value="I"required>
                                <label for="q8_option1">Verdadeiro</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question8" id="q8_option2" value="II">
                                <label for="q8_option2">Falso</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                </div>

                <!-- Questão 9 -->
                
                <div class="question">
                    <h2>Julgue a afirmação:<br> Respiradores orais têm preferência por alimentos sólidos e pastosos.</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question9" id="q9_option1" value="I"required>
                                <label for="q9_option1">Verdadeiro</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question9" id="q9_option2" value="II">
                                <label for="q9_option2">Falso</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                    
                </div>

                <!-- Questão 10 -->
                
                <div class="question">
                    <h2>A equipe multidiciplinar necessária nos casos de respiradores orais, inclui os seguintes profissionais:</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question10" id="q10_option1" value="I"required>
                                <label for="q10_option1">Fonoaudiólogo, dentista e neurologista</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question10" id="q10_option2" value="II">
                                <label for="q10_option2">Fonoaudiólogo e otorrinolaringologista</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question10" id="q10_option3" value="III">
                                <label for="q10_option3">Fonoaudiólogo e dentista</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question10" id="q10_option4" value="IV">
                                <label for="q10_option4">Fonoaudiólogo, dentista e otorrinolaringologista</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                </div>

                <!-- Questão 11 -->
                
                <div class="question">
                    <h2>Julgue a afirmação:<br> Trocar forros de cama e cobertores com frequência é um importante método preventivo.</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question11" id="q11_option1" value="I"required>
                                <label for="q11_option1">Verdadeiro</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question11" id="q11_option2" value="II">
                                <label for="q11_option2">Falso</label>
                            </li>
                            
                        </div>
                    </ol>
    
                    
                </div>

                <!-- Questão 12 -->
                
                <div class="question">
                    <h2>Julgue a afirmação:<br> Manter os ambientes arejados favorece o desenvolvimento de bactérias e outros microrganismos.</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question12" id="q12_option1" value="I"required>
                                <label for="q12_option1">Verdadeiro</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question12" id="q12_option2" value="II">
                                <label for="q12_option2">Falso</label> 
                            </li>
                            
                        </div>
                    </ol>
                    
                    
                </div>

                <!-- Questão 13 -->
                
                <div class="question">
                    <h2>Julgue a afirmação:<br> Cortinas e ursinhos de pelúcia devem estar presentes de maneira abundante para minimizar a ocorrência de respiração oral.</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question13" id="q13_option1" value="I"required>
                            <label for="q13_option1">Verdadeiro</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question13" id="q13_option2" value="II">
                                <label for="q13_option2">Falso</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                </div>

                <!-- Questão 14 -->
                
                <div class="question">
                    <h2>Julgue a afirmação:<br> Após realização da higiene nasal todo o soro fisiológico deve ser retirado das narinas.</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question14" id="q14_option1" value="I"required>
                                <label for="q14_option1">Verdadeiro</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question14" id="q14_option2" value="II">
                                <label for="q14_option2">Falso</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                </div>

                <!-- Questão 15 -->
                
                <div class="question">
                    <h2>Em relação à audição, respiradores orais podem apresentar alterações diversas, EXCETO:</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question15" id="q15_option1" value="I"required>
                                <label for="q15_option1">Alterações no processamento auditivo</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question15" id="q15_option2" value="II">
                                <label for="q15_option2">Flutuação de audição</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question15" id="q15_option3" value="III">
                                <label for="q15_option3">Otites</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question15" id="q15_option4" value="IV">
                                <label for="q15_option4">Melhora dos limiares auditivos</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                </div>

                <!-- Questão 16 -->
                
                <div class="question">
                    <h2>Nos casos de respiração oral o fonoaudiólogo é o responsável por:</h2>
                    <ol type="I">
                        <div class="answer">
                            <li>
                                <input type="radio" name="question16" id="q16_option1" value="I"required>
                                <label for="q16_option1">Identificar e corrigir a causa desse modo respiratório</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question16" id="q16_option2" value="II">
                                <label for="q16_option2">Adequar a musculatura e as funções alteradas</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question16" id="q16_option3" value="III">
                                <label for="q16_option3">Corrigir alterações dentárias</label>
                            </li>
                            
                        </div>
                        <div class="answer">
                            <li>
                                <input type="radio" name="question16" id="q16_option4" value="IV">
                                <label for="q16_option4">Prevenir alterações oclusais</label>
                            </li>
                            
                        </div>
                    </ol>
                    
                </div>


                <button type="submit">Enviar</button>
                <script>
                    const handleSubmit = (event) => {

                        event.preventDefault();
                        const name = document.querySelector('input[name="nome"]').value;
                        const email = document.querySelector('input[name="email"]').value;
                        const questao1 = document.querySelector('input[name="question1"]:checked').value;
                        const questao2 = document.querySelector('input[name="question2"]:checked').value;
                        const questao3 = document.querySelector('input[name="question3"]:checked').value;
                        const questao4 = document.querySelector('input[name="question4"]:checked').value;
                        const questao5 = document.querySelector('input[name="question5"]:checked').value;
                        const questao6 = document.querySelector('input[name="question6"]:checked').value;
                        const questao7 = document.querySelector('input[name="question7"]:checked').value;
                        const questao8 = document.querySelector('input[name="question8"]:checked').value;
                        const questao9 = document.querySelector('input[name="question9"]:checked').value;
                        const questao10 = document.querySelector('input[name="question10"]:checked').value;
                        const questao11 = document.querySelector('input[name="question11"]:checked').value;
                        const questao12 = document.querySelector('input[name="question12"]:checked').value;
                        const questao13 = document.querySelector('input[name="question13"]:checked').value;
                        const questao14 = document.querySelector('input[name="question14"]:checked').value;
                        const questao15 = document.querySelector('input[name="question15"]:checked').value;
                        const questao16 = document.querySelector('input[name="question16"]:checked').value;
                        var pontuacao = 0;
                        
                        

                        // Verificar a resposta da primeira pergunta
                        var respostas = document.getElementsByName("question1");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }

                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question2");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }

                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question3");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question4");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question5");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question6");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question7");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question8");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question9");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question10");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question11");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question12");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question13");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question14");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question15");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                        // Verificar a resposta da segunda pergunta
                        respostas = document.getElementsByName("question16");
                        for (var i = 0; i < respostas.length; i++) {
                            if (respostas[i].checked && respostas[i].value === "I") {
                                pontuacao ++;
                                break;
                            }
                        }
                    
                        fetch('https://api.sheetmonkey.io/form/kH9XPf3enLaviBpLwSCtbg', {
                                
                        
                            method: 'post',
                            headers: {
                                'Accept': 'aplication/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                "nome": name,
                                "email": email,
                                "Certificado Enviado": 'não',
                                "pontuacao":pontuacao,
                                "resposta Q1": questao1,
                                "resposta Q2": questao2,
                                "resposta Q3": questao3,
                                "resposta Q4": questao4,
                                "resposta Q5": questao5,
                                "resposta Q6": questao6,
                                "resposta Q7": questao7,
                                "resposta Q8": questao8,
                                "resposta Q9": questao9,
                                "resposta Q10": questao10,
                                "resposta Q11": questao11,
                                "resposta Q12": questao12,
                                "resposta Q13": questao13,
                                "resposta Q14": questao14,
                                "resposta Q15": questao15,
                                "resposta Q16": questao16,

                            })
                                    
                        });
                       
                        
                        // Exibir a pontuação
                        alert("Sua pontuação é: " + pontuacao);

                        
                        // se a pontuação for menor que 8
                        if (pontuacao < 1) {
                           window.location.replace('/questionarioResultadoBaixo'); // redireciona para a página de resultados com pontuação baixa
                        
                        } 
                        if (pontuacao >= 1){
                            window.location.replace('/questionarioResultadoAlto'); // redireciona para a página de resultados com pontuação alta
                        }
                    }

                    document.querySelector('form').addEventListener('submit', handleSubmit);

                    

                   
                </script>
                
            </form>
            
        </section>
    </main>
        
</body>
</html>
