<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../pagesStyles/questionStartStyle.css">
    <title>Document</title>
</head>
<body>

    <section id="main_content">
        <section id="central_header">
            <img src="../../img/questionario.png">
    </section>

    <section class="center">
        <div class="center_box">
            <h1>Informações sobre o Questionário:</h1>
            <li>Serão 16 questões, formadas por questões de multipla escolha e de Verdadeiro ou Falso</li>
            <li>Para a liberação do certificado, deverá se obter uma pontuação média, ou acima da média no questiónario (acertar 8 ou mais questões).</li>
            <li>O certificado será disponibilizado em até 48h em seu email de cadastro no questionário.</li>
            
            <div class="start_module_container">
                <a href="/comecarQuestionario">
                    <button>
                        <span>Iniciar Questionário</span>
                    </button>
                </a>
            </div>
            
        </div>
    </section>
    
</body>
</html>