<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="../../img/fonoaudiologia_logo.png" type="image/x-icon">
        <title>Curso Respiração Oral</title>
        <link rel="stylesheet" href="../../pagesStyles/questionsLowResultStyle.css">
    </head>
    <body>
        <section id="main_content">
            <section id="central_header">
                <img src="../../img/questionario.png">
        </section>
    
        <section class="center">
            <div class="center_box">
                <h1>Pontuação Baixa:  😢</h1>
                <li>Sua pontuação não foi o suiciente para liberar o certificado</li>
                <li>Faça mais uma revisão sobre o conteúdo do curso, e volte para refazer o questionário quando quiser.</li>
                
                <div class="start_module_container">
                    <a href="/">
                        <button>
                            <span>Voltar para Home</span>
                        </button>
                    </a>
                </div>
    
            </div>
        </section>
    </body>
</html>


    
    
